for_xsd-260.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="uri:citsp-br-social-support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DateOfIssue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="
                        1997-03- 04T00:00:00+03:00
                    "/>
        <xs:enumeration value="
                        1998-04- 17T00:00:00+04:00
                    "/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="
                        удостоверение &quot;Ветеран труда&quot;
                    "/>
        <xs:enumeration value="
                        справка МСЭ об установлении инвалидности
                    "/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Number">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="606410"/>
        <xs:enumeration value="94431"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PlaceOfIssue">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="
                        УСЗН БУТЫРСКОГО РАЙОНА
                    "/>
        <xs:enumeration value="
                        БМСЭ Бутырское
                    "/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Series">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Т-II"/>
        <xs:enumeration value="264"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>