for_xsd-260.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://asur/dszn/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DetailsSearchResidentPreferentialCategoriesFullResponse" type="dszn:DetailsSearchResidentPreferentialCategoriesFullResponseType" xmlns:dszn="http://asur/dszn/"/>
  <xs:complexType name="ReasonDocumentType">
    <xs:sequence>
      <xs:element ref="uri:DateOfIssue" xmlns:uri="uri:citsp-br-social-support"/>
      <xs:element ref="uri:Name" xmlns:uri="uri:citsp-br-social-support"/>
      <xs:element ref="uri:Number" xmlns:uri="uri:citsp-br-social-support"/>
      <xs:element ref="uri:PlaceOfIssue" xmlns:uri="uri:citsp-br-social-support"/>
      <xs:element ref="uri:Series" xmlns:uri="uri:citsp-br-social-support"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StartDateReasonsType">
    <xs:sequence>
      <xs:element type="dszn:ReasonDocumentType" name="ReasonDocument" xmlns:dszn="http://asur/dszn/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetailsSearchResidentPreferentialCategoriesType">
    <xs:sequence>
      <xs:element type="xs:string" name="EndDate"/>
      <xs:element type="xs:string" name="Snils"/>
      <xs:element name="NamePreferentialCategory">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ветеран труда"/>
            <xs:enumeration value="Инвалид 2 группы"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PreferentialCategoryId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15"/>
            <xs:enumeration value="22"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1997-03-04T00:00:00+03:00"/>
            <xs:enumeration value="1998-04-17T00:00:00+04:00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="dszn:StartDateReasonsType" name="StartDateReasons" xmlns:dszn="http://asur/dszn/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultType">
    <xs:sequence>
      <xs:element type="dszn:DetailsSearchResidentPreferentialCategoriesType" name="DetailsSearchResidentPreferentialCategories" maxOccurs="unbounded" minOccurs="0" xmlns:dszn="http://asur/dszn/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputDataType">
    <xs:sequence>
      <xs:element ref="ServiceProperties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetailsSearchResidentPreferentialCategoriesFullResponseType">
    <xs:sequence>
      <xs:element type="dszn:ResultType" name="Result" xmlns:dszn="http://asur/dszn/"/>
      <xs:element type="xs:string" name="DocumentReady"/>
      <xs:element type="dszn:InputDataType" name="InputData" xmlns:dszn="http://asur/dszn/"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>